@import url("./_utils.css");
@import url("./_fonts.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'yekan';
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.hero-section{
    width: 100vw;
    height: 90vh;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), 
    url(../assets/images/hero-section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem 6rem 2rem;
}

#header {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
}

.header_login-button{
    display: flex;
    gap: 0.35rem;
    align-items: center;
    font-size: 1rem;
    background-color: #f1f1f1;
    padding: 0.65rem;
    border-radius: 0.9rem;
    transition: all 0.4s ease;
}

.header_login-button:hover{
    transform: translateY(-2px);
    background-color: #e6e6e6;
}

.header_login-button img{
    width: 1.2rem;
    height: 1.2rem;
}

#cart{
    position: relative;
    margin-left: 1rem;
}

#cart img{
    width: 2.2rem;
    height: 2.2rem;
}

#cart_badge{
    text-align: center;
    font-size: 1rem;
    background-color: #000;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    right: -1rem;
    top: -0.4rem;
}

#logout-botton{
    display: flex;
    cursor: pointer;
    border: 1px solid transparent;
    gap: 0.35rem;
    align-items: center;
    font-size: 1rem;
    background-color: #fa6767;
    padding: 0.65rem;
    border-radius: 0.9rem;
    transition: all 0.4s ease;
}

#logout-botton:hover{
    transform: translateY(-2px);
    background-color: #fd5454;
    color: white;
}

#logout-botton img{
    width: 1.8rem;
    height: 1.8rem;
}

.hero-section-content{
    color: #fff;
    margin-top: 4rem;
}

.see-prodoct-arrow{
    width: 3rem;
    height: 3rem;
    animation: sliding 1s ease-in-out infinite alternate;
}

@keyframes sliding {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 3rem;
}

.product-grid-item{
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    border: 2px solid #d8d8d8;
    transition: all .3s ease-in-out;
}

.product-grid-item:hover{
    border: 2px solid #000;
}

.product-grid-item img{
    border-radius: .5rem;
}

.product-to-cart-section button{
    width: 100%;
    border: none;
    outline: none;
    padding: .5rem;
    cursor: pointer;
    border-radius: .75rem;
    background-color: #000;
    color: white;
    transition: all .4s ease-in-out;
}
.product-to-cart-section button:hover{
    background-color: rgb(233, 230, 230);
    color: #000;
    /* box-shadow: 2px 15px 10px #0000004d; */
}

.footer{
    background: linear-gradient(45deg,rgba(91, 91, 91, 0.767),rgba(0,0,0,0.785));
    width: 100%;
    color: #fff;
    width: 100vw;
}

.up-arrow-button{
    display: flex;
    background-color: #fff;
    border-radius: .75rem;
    width: 2.5rem;
    transition: all .25s ease-in-out;
}

.up-arrow-button img{
    width: 100%;
    height: 100%;
}

.up-arrow-button:hover{
    background-color: #f1f1f1;
}


/* login */

.login-form-container{
        background: linear-gradient(45deg,rgba(91, 91, 91, 0.767),rgba(0,0,0,0.785));
    width: 100%;
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form{
    width: 80%;
    max-width: 700px;
}

#login-form input{
    border-radius: 0.5rem;
    padding: 0.6rem;
    border: 2px solid transparent;
    outline: none;
}

#login-form input:focus{
    border: 2px solid #000;
}

#login-form label{
    margin: 0.5rem 0;
}

#hide-password{
    width: 2rem;
    cursor: pointer;
}

#login-form-button{
    background-color: #000;
    color: #fff;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    padding: 0.6rem;
    cursor: pointer;
}

/* login */


/* cart */

.cart-container{
    background: linear-gradient(45deg,rgba(226, 226, 226, 0.767),rgba(214,214,214,0.785));
    width: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#cart-items-container{
    height: 15rem;
    overflow-y: scroll;
    border: 2px solid #000;
    width: 70%;
    background-color: #f3f3f3;
    border-radius: .5rem;
}

.cart-item img{
    width: 7rem;
    height: 7rem;
    border: 2px solid #dedede;
    border-radius: .5rem;
}

.cart-item button{
    background-color: #fff;
    border: 2px solid red;
    color: red;
    padding: .25rem .5rem;
    border-radius: .25rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    
}
.cart-item button:hover{
    background-color: rgba(197, 30, 30, 0.829);
    color: white;
}

/* cart */


.return-home-login{
  text-decoration: underline;
  text-underline-offset: 4px;
}


